@import "components/base.scss";

html,
body {
  background-color: var(--background-color);
  background-repeat: repeat;
  min-width: 320px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  position: relative;
  scrollbar-color: var(--mid-gray) transparent;
  scrollbar-width: thin;
}

header {
  position: relative;
}

section.content {
  margin-top: -65px;
}

a {
  &:hover {
    cursor: pointer;
  }
}

dialog {
  display: none;
}

@import "./navigation";
@import "./home";
@import "./login";
@import "./find-a-form";
@import "./support";
@import "./dashboard";
@import "./statement-of-account";
@import "./footer";
@import "components/dialog";
@import "components/pagination";