@import "components/base.scss";

html,
body {
  background-color: var(--background-color);
  background-repeat: repeat;
  min-width: 320px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@import "./navigation";
@import "./home";
@import "./login";
@import "./footer";