.dashboard {
  &--resident {
    padding-top: 60px;
  }

  &__jumbotron {
    background-color: var(--article-jumbotron);
    color: var(--article-header-color);
    display: flex;
    justify-content: center;
    padding: {
      bottom: 65px;
      top: 65px;
    }

    h1 {
      margin-top: 65px;
      @include get-responsive(font-size, 28px, 32px, 40px, 40px);
    }
  }

  &__wrapper {
    max-width: $desktop-large-min-width;
    width: 100%;

    &--section {
      display: flex;
      flex-wrap: wrap;
      margin: {
        bottom: 65px;
        top: 65px;
      };
      @include get-responsive(-webkit-flex-direction, column, row, row, row);
      @include get-responsive(-ms-flex-direction, column, row, row, row);
      @include get-responsive(flex-direction, column, row, row, row);
    }
  }

  &__section {
    background-color: var(--dashboard-section-background-color);
    display: flex;
    justify-content: center;
    @include get-responsive(padding, 0 20px, 0 20px, 0 20px);
  }

  &__card {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    padding: 0 5px 0 12px;
    position: relative;
    @include get-responsive(width, 100%, 50%, calc(100% / 3), calc(100% / 3));

    &:hover {
      .dashboard__card-icon {
        background-color: var(--main-color);

        svg {
          margin-top: 0;
        }
      }

      .dashboard__card-arrow {
        background-color: var(--main-color);

        path {
          fill: var(--light-gray);
        }
      }

      h2 {
        color: var(--main-color);
      }
    }
  }

  &__card-icon {
    background-color: var(--dashboard-icon-background-color);
    border: 9px solid var(--dashboard-section-background-color);
    border-radius: 50%;
    height: 60px;
    overflow: hidden;
    padding: 8px;
    width: 60px;
    z-index: 1;
    position: absolute;
    bottom: -1px;
    left: 0;

    svg {
      transition: all .1s ease-in;
      margin-top: 60px;
    }

    circle, path {
      stroke: var(--dashboard-icon-stroke-color);
    }
  }

  &__card-content {
    background-color: var(--dashboard-card-background-color);
    border-radius: 15px;
    width: 100%;
    padding: 20px 50px 20px 60px;
  }

  &__card-arrow {
    background-color: var(--light-gray);
    border-radius: 5px;
    bottom: 15px;
    width: 30px;
    height: 30px;
    padding: 2px;
    position: absolute;
    right: 20px;
    z-index: 1;

    path {
      fill: var(--main-color);
    }
  }

  &__side-bar {
    background-color: var(--mid-gray);
    width: 280px;

    h1 {
      padding: 20px;
    }

    ul {
      list-style-type: none;
      margin-bottom: 20px;
    }

    li {
      border-left: 5px solid transparent;
      cursor: pointer;
      line-height: 25px;
      padding: 20px;
      vertical-align: middle;

      &.active {
        background-color: #ffffff;
        border-left: 5px solid var(--main-color);

        path, circle {
          stroke: var(--dashboard-sidebar-li-active-color);
        }

        span {
          color: var(--dashboard-sidebar-li-active-color);
        }
      }

      svg {
        max-width: 25px;
        margin-right: 10px;
      }

      path, circle {
        stroke: var(--dashboard-sidebar-li-default-color);
      }

      span {
        color: var(--dashboard-sidebar-li-default-color);
        font-weight: 600;
      }
    }

    path, circle {
      fill: none;
    }
  }

  &__list-item {

  }

  &__content {
    padding: 20px;
    width: calc(100% - 280px);
  }

  &__create-ticket {
    background: {
      image: url('/assets/images/create-ticket.svg');
      repeat: no-repeat;
      size: 50px;
      position: 15px center;
    }
    border: 2px solid var(--dashboard-item-border-color);
    border-radius: 6px;
    margin-bottom: 15px;
    padding: 30px 20px 30px 80px;
    width: 222px;
    position: relative;

    span {
      color: var(--main-color);
      font-weight: 600;

      &:after {
        content: ' ';
        background: {
          image: url('/assets/images/right-arrow.svg');
          repeat: no-repeat;
          size: contain;
          position: center;
        }
        height: 20px;
        width: 20px;
        position: absolute;
        right: 14px;
      }
    }
  }

  &__tab {
    display: none;
    &.active {
      display: block;
    }
  }

  &__tab-breadcrumbs {
    color: var(--main-color);
    font-weight: 600;
    float: left;
    margin-bottom: 15px;
    width: 100%;
    position: relative;
    span {
      padding-left: 25px;
      &:before {
        content: ' ';
        background: {
          image: url('/assets/images/right-arrow.svg');
          repeat: no-repeat;
          size: contain;
          position: center;
        }
        height: 20px;
        width: 20px;
        position: absolute;
        left: 0;
        transform: scaleX(-1);
      }
    }
  }

  &__tab-title {
    float: left;
    width: 100%;

    h1, span {
      display: inline-block;
    }

    span {
      color: var(--main-color);
      font-weight: 600;
    }

    p {
      margin-top: 30px;
      text-align: justify;
    }
  }

  &__tab-collection {
    margin-top: 15px;
    float: left;
    width: 100%;
  }

  &__ticket {
    border: 2px solid var(--dashboard-item-border-color);
    border-radius: 6px;
    float: left;
    padding: 15px;
    width: calc(100% / 3 - 10px);
    margin-right: 10px;
    margin-top: 15px;

    &-status {
      font-weight: 600;
      padding: 5px 10px;
      display: inline-block;
      border-radius: 5px;

      &--active {
        background-color: #b2fedd;
        color: #00A69F;
      }

      &--pending {
        background-color: #f1ffa5;
        color: #9b791b;
      }
t
      &--closed {
        background-color: #fe9085;
        color: #7a0100;
      }
    }

    &-number {
      font-weight: 600;
      margin-top: 10px;
    }

    &-date {
      float: left;
      padding: 8px 0;
    }

    &-view {
      background-color: var(--main-color);
      border-radius: 5px;
      color: #ffffff;
      cursor: pointer;
      float: right;
      font-weight: 600;
      padding: 8px 20px;
    }

    &-divider {
      border-bottom: 2px solid var(--dashboard-item-border-color);
      float: left;
      margin: 20px 0;
      width: 100%;
    }
  }

  &__input-group {
    float: left;
    width: 100%;
    margin-top: 20px;
    position: relative;

    label {
      background-color: #ffffff;
      font-size: 10px;
      position: absolute;
      left: 10px;
      top: -5px;
      padding: 0 6px;
      font-weight: 600;
    }
  }

  &__input {
    input, textarea {
      border: 1px solid var(--main-color);
      border-radius: 5px;
      height: 50px;
      width: 100%;
      padding: 5px;
    }

    textarea {
      min-height: 150px;
    }
  }

  &__actions {
    float: left;
    width: 100%;

    input {
      width: 160px;
      height: 50px;
      text-align: center;
      border-radius: 5px;
    }
  }

  &__button {
    font-weight: 600;
    float: left;

    &--primary {
      border: 2px solid var(--main-color);
      background-color: var(--main-color);
      color: #ffffff;
    }
    &--secondary {
      border: 2px solid var(--main-color);
      background-color: #ffffff;
      color: var(--main-color);
      margin-right: 10px;
    }
  }
}

.dashboard--resident .dashboard {
  &__wrapper {
    &--section {
      background-color: var(--dashboard-card-background-color);
      border-radius: 20px;
      overflow: hidden;
      min-height: 200px;
    }
  }
}