.dashboard {
  &--resident,
  &--agent {
    padding-top: 60px;
  }

  &__jumbotron {
    background-color: var(--article-jumbotron);
    color: var(--article-header-color);
    display: flex;
    justify-content: center;
    padding: {
      bottom: 65px;
      top: 65px;
    }

    h1 {
      margin-top: 65px;
      @include get-responsive(font-size, 28px, 32px, 40px, 40px);
    }
  }

  &__wrapper {
    max-width: $desktop-large-min-width;
    width: 100%;

    &--section {
      display: flex;
      flex-wrap: wrap;
      margin: {
        bottom: 65px;
        top: 65px;
      };
      @include get-responsive(-webkit-flex-direction, column, row, row, row);
      @include get-responsive(-ms-flex-direction, column, row, row, row);
      @include get-responsive(flex-direction, column, row, row, row);
    }
  }

  &__section {
    display: flex;
    justify-content: center;
    @include get-responsive(padding, 0 20px, 0 20px, 0 20px);
  }

  &__card {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    padding: 0 5px 0 12px;
    position: relative;
    @include get-responsive(width, 100%, 50%, calc(100% / 3), calc(100% / 3));

    &:hover {
      .dashboard__card-icon {
        background-color: var(--main-color);

        svg {
          margin-top: 0;
        }
      }

      .dashboard__card-arrow {
        background-color: var(--main-color);

        path {
          fill: var(--light-gray);
        }
      }

      h2 {
        color: var(--main-color);
      }
    }

    &-icon {
      background-color: var(--dashboard-icon-background-color);
      border: 9px solid var(--dashboard-section-background-color);
      border-radius: 50%;
      height: 60px;
      overflow: hidden;
      padding: 8px;
      width: 60px;
      z-index: 1;
      position: absolute;
      bottom: -1px;
      left: 0;

      svg {
        transition: all .1s ease-in;
        margin-top: 60px;
      }

      circle, path {
        stroke: var(--dashboard-icon-stroke-color);
      }
    }

    &-content {
      background-color: var(--dashboard-card-background-color);
      border-radius: 15px;
      width: 100%;
      padding: 20px 50px 20px 60px;
    }

    &-arrow {
      background-color: var(--light-gray);
      border-radius: 5px;
      bottom: 15px;
      width: 30px;
      height: 30px;
      padding: 2px;
      position: absolute;
      right: 20px;
      z-index: 1;

      path {
        fill: var(--main-color);
      }
    }
  }

  &__side-bar {
    background-color: var(--mid-gray);
    @include get-responsive(width, 100%, 100%, 280px, 280px);

    h1 {
      @include get-responsive(font-size, 14px, 14px);
      @include get-responsive(padding, 10px 20px 0, 10px 20px 0, 20px, 20px);
      @include get-responsive(text-align, center, center);
    }

    ul {
      list-style-type: none;
      overflow: hidden;
      @include get-responsive(margin-bottom, null, 20px, 20px, 20px);
    }

    li {
      cursor: pointer;
      line-height: 25px;
      vertical-align: middle;
      @include get-responsive(border-left, null, null, 5px solid transparent, 5px solid transparent);
      @include get-responsive(float, left, left);
      @include get-responsive(padding, 10px, 10px, 20px, 20px);
      @include get-responsive(text-align, center, center);

      &.active {
        @include get-responsive(background-color, null, null, #ffffff, #ffffff);
        @include get-responsive(border-left, null, null, 5px solid var(--main-color), 5px solid var(--main-color));

        path, circle {
          stroke: var(--dashboard-sidebar-li-active-color);
        }

        span {
          color: var(--dashboard-sidebar-li-active-color);
        }
      }

      svg {
        max-width: 25px;
        @include get-responsive(margin-right, null, null 10px, 10px);
      }

      path, circle {
        stroke: var(--dashboard-sidebar-li-default-color);
      }

      span {
        color: var(--dashboard-sidebar-li-default-color);
        font-weight: 600;
        @include get-responsive(display, none, none);
      }
    }

    path, circle {
      fill: none;
    }
  }

  &__content {
    @include get-responsive(padding, 15px, 20px, 20px, 20px);
    @include get-responsive(width, 100%, 100%, calc(100% - 280px), calc(100% - 280px));
  }

  &__divider {
    border-bottom: 2px solid var(--dashboard-item-border-color);
    float: left;
    margin: 20px 0;
    width: 100%;
  }

  &__no-data {
    float: left;
    width: 100%;
    text-align: center;

    svg {
      cursor: pointer;
      margin: 100px 0;
      max-height: 100px;
    }

    path {
      fill: var(--light-gray);
    }
  }

  &__panel {
    display: none;

    &.active {
      display: block;
    }

    &-breadcrumbs {
      color: var(--main-color);
      font-weight: 600;
      float: left;
      margin-bottom: 15px;
      width: 100%;
      position: relative;

      span {
        padding-left: 25px;

        &:before {
          content: ' ';
          background: {
            image: url('/assets/images/right-arrow.svg');
            repeat: no-repeat;
            size: contain;
            position: center;
          }
          height: 20px;
          width: 20px;
          position: absolute;
          left: 0;
          transform: scaleX(-1);
        }
      }
    }

    &-header {
      float: left;
      width: 100%;

      h1, span {
        display: inline-block;
        line-height: 20px;
        vertical-align: middle;
      }

      h1 {
        min-width: 100px;
        @include get-responsive(font-size, 14px, 14px);
      }

      h4 {
        color: var(--dashboard-tab-gray-color);
        font-weight: 600;
        margin-top: 10px;
        @include get-responsive(font-size, 12px, 12px);
      }

      span {
        color: var(--main-color);
        float: right;
        font-weight: 600;
      }

      p {
        margin-top: 30px;
        text-align: justify;
      }
    }

    &-collection {
      margin-top: 15px;
      float: left;
      width: 100%;
    }
  }

  &__tab {
    margin-bottom: -1px;
    padding: 12px;
    text-align: center;
    @include get-responsive(width, 50%, 50%, 160px, 160px);

    &.active {
      border-bottom: 4px solid var(--main-color);
    }

    &-action {
      border-bottom: 2px solid var(--light-gray);
      display: flex;
      flex-direction: row;
      float: left;
      margin-top: 20px;
      width: 100%;
    }

    &-content {
      display: none;
      float: left;
      margin-top: 20px;
      width: 100%;

      &.active {
        display: block;
      }
    }
  }

  &__create {
    background: {
      image: url('/assets/images/create-ticket.svg');
      repeat: no-repeat;
      size: 50px;
      position: 15px center;
    }
    border: 2px solid var(--dashboard-item-border-color);
    border-radius: 6px;
    margin-bottom: 15px;
    padding: 30px 20px 30px 80px;
    position: relative;
    @include get-responsive(width, 100%, 100%, 280px, 280px);

    span {
      color: var(--main-color);
      font-weight: 600;

      &:after {
        content: ' ';
        background: {
          image: url('/assets/images/right-arrow.svg');
          repeat: no-repeat;
          size: contain;
          position: center;
        }
        height: 20px;
        width: 20px;
        position: absolute;
        right: 14px;
      }
    }
  }

  &__permit,
  &__ticket {
    border: 2px solid var(--dashboard-item-border-color);
    border-radius: 6px;
    float: left;
    padding: 15px;
    margin-right: 10px;
    margin-top: 15px;
    @include get-responsive(width, 100%, 100%, calc(100% / 3 - 10px), calc(100% / 3 - 10px));

    &-status {
      font-weight: 600;
      font-size: 10px;
      padding: 5px 10px;
      display: inline-block;
      border-radius: 5px;
      text-transform: capitalize;

      &--active,
      &--assessed {
        background-color: #b2fedd;
        color: #00A69F;
      }

      &--pending {
        background-color: #f1ffa5;
        color: #9b791b;
      }

      &--closed,
      &--rejected {
        background-color: #fe9085;
        color: #7a0100;
      }
    }

    &-number {
      font-weight: 600;
      margin-top: 10px;
    }

    &-date {
      float: left;
      padding: 8px 0;
    }

    &-view {
      background-color: var(--main-color);
      border-radius: 5px;
      color: #ffffff;
      cursor: pointer;
      float: right;
      font-weight: 600;
      padding: 8px 20px;
    }

    &-details {
      background-color: var(--light-gray);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      float: left;
      overflow: hidden;
      padding: 20px;
      @include get-responsive(width, 100%, calc(100% - 150px), calc(100% - 200px), calc(100% - 200px));

      h1 {
        @include get-responsive(font-size, 16px);

        svg {
          width: 15px;
        }
      }
    }

    &-detail {
      float: left;
      margin-top: 15px;
      overflow: hidden;
      text-align: justify;
      word-wrap: normal;

      &:last-child {}

      &--label {
        color: var(--dashboard-tab-gray-color);
        font-weight: 600;
        float: left;
      }

      &--value {
        float: left;
      }

      &--attachment {
        background-color: var(--dashboard-attachments-background-color);
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 20px -20px -20px;
        padding: 20px;
      }
    }

    &-date-created {
      float: left;
      @include get-responsive(margin-top, 15px);
      @include get-responsive(padding, 0, 0 20px, 0 20px, 0 20px);
      @include get-responsive(width, 100%, 150px, 200px, 200px);

      h4 {
        color: var(--dashboard-tab-gray-color);
        font-weight: 600;
      }
    }

    &-agents {
      float: left;
      width: 100%;
      margin-top: 15px;

      h4 {
        color: var(--dashboard-tab-gray-color);
        font-weight: 600;
      }
    }

    &-agent {
      float: left;
      margin-top: 15px;
      width: 100%;

      &--name, &-email {
        display: block;
      }

      &--email {
        color: var(--dashboard-tab-gray-color);
        font-size: 12px;
      }
    }
  }

  &__ticket {
    &-detail {
      &--label {
        @include get-responsive(width, 100%, 100px, 100px, 100px);
      }

      &--value {
        @include get-responsive(width, 100%, calc(100% - 100px), calc(100% - 100px), calc(100% - 100px));
      }
    }
  }

  &__permit {
    &-detail {
      &--label {
        @include get-responsive(width, 100%, 170px, 170px, 170px);
      }

      &--value {
        @include get-responsive(width, 100%, calc(100% - 170px), calc(100% - 170px), calc(100% - 170px));
      }
    }
  }

  &__form {
    &--my-profile {
      .dashboard__input-field {
        max-width: calc(100% - 40px);
      }
    }

    &-col {
      float: left;

      &--fields {
        @include get-responsive(width, 100%, 330px, 330px, 330px);
      }

      &--validation {
        @include get-responsive(padding-left, null, 20px, 20px, 20px);
        @include get-responsive(width, 100%, calc(100% - 330px), calc(100% - 330px), calc(100% - 330px));
      }
    }
  }

  &__input {
    &-row {
      float: left;
      width: 100%;
      display: none;

      &--active {
        display: unset !important;
      }
    }

    &-group {
      float: left;
      width: 100%;
      margin-top: 20px;
      position: relative;
      border: 2px solid var(--dashboard-input-default-border-color);
      border-radius: 5px;
      padding: 1px;
      transition: all .1s ease-in;

      &:focus-within, &:hover {
        border: 2px solid var(--dashboard-input-active-border-color);
      }

      > svg {
        fill: var(--dashboard-input-default-border-color);
      }

      &--show {
        > svg {
          fill: var(--dashboard-input-active-border-color);
        }
      }

      &--last-name,
      &--first-name,
      &--area,
      &--capital,
      &--block,
      &--lot,
      &--street,
      &--barangay {
        @include get-responsive(margin-right, null, 10px, 10px, 10px);
        @include get-responsive(width, 100%, calc(100% / 3), calc(100% / 3), calc(100% / 3));
      }

      &--middle-name,
      &--house,
      &--monthly-rent {
        @include get-responsive(width, 100%, calc((100% / 3) - 20px), calc((100% / 3) - 20px), calc((100% / 3) - 20px));
      }
    }

    &-field {
      border: 0;
      width: 100%;
      padding: 8px 19px;
      outline: 0;
      overflow: hidden;
      transition: all .1s ease-in;

      &:focus ~ .dashboard__input-label {
        color: var(--main-color);
      }

      &--text {
        height: 40px;
      }

      &--textarea {
        min-height: 150px;
      }

      span {
        vertical-align: middle;
      }
    }

    &-label {
      background-color: #ffffff;
      font-size: 10px;
      position: absolute;
      left: 15px;
      top: -10px;
      padding: 0 6px;
      font-weight: 600;
    }

    &-validation {
      background-color: #f3f3f3;
      border-radius: 5px;
      margin-top: 20px;
      padding: 10px;
      @include get-responsive(max-width, null, 330px, 330px, 330px);

      ul {
        list-style-type: none;
        margin-top: 15px;

        svg {
          stroke: var(--mid-gray);
          max-width: 30px;
        }

        li.error {
          svg {
            stroke: #ff0000;
          }
        }

        li.valid {
          svg {
            stroke: var(--main-color);
          }
        }
      }
    }
  }

  &__dropdown {
    position: relative;
    width: 100%;

    &-button {
      cursor: pointer;
      white-space: nowrap;
      width: 100%;
      outline: 0;
      overflow: hidden;
      transition: all .1s ease-in;

      &:focus {
        border: 2px solid var(--dashboard-input-active-border-color);
      }

      &:focus ~ .dashboard__input-label {
        color: var(--main-color);
      }


      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid var(--main-color);
      }
    }

    &-input {
      display: none;
    }

    &-menu {
      position: absolute;
      top: 100%;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 0;
      margin: 2px 0 0 0;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      list-style-type: none;
      width: 100%;
      z-index: 1;
      max-height: 284px;
      scrollbar-color: var(--mid-gray) transparent;
      scrollbar-width: thin;
      overflow-y: auto;

      li {
        padding: 10px 20px;
        cursor: pointer;
        white-space: nowrap;

        &:hover {
          background-color: #f6f6f6;
        }
      }
    }

    &-input + .dashboard__dropdown-menu {
      display: none;
    }

    &-input:checked + .dashboard__dropdown-menu {
      display: block;
    }
  }

  &__attachment {
    min-height: 40px;
    position: relative;

    &-file {
      position: absolute;
      visibility: hidden;
    }

    .file-block {
      border-radius: 10px;
      background-color: rgba(144, 163, 203, 0.2);
      color: initial;
      display: inline-flex;
      margin: 5px;
      @include get-responsive(max-width, 120px);

      & > span.name {
        display: inline-flex;
        line-height: 30px;
        padding-right: 10px;
        width: 100%;
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .file-names {
      float: left;
      width: 100%;
      overflow: hidden;
    }

    .file-delete {
      background-color: #6eb4ff00;
      color: initial;
      cursor: pointer;
      display: flex;
      font-size: large;
      justify-content: center;
      margin-right: 3px;
      width: 24px;

      &:hover {
        background-color: rgba(144, 163, 203, 0.2);
        border-radius: 10px;
      }

      & > span {
        transform: rotate(45deg);
      }
    }
  }

  &__file {
    color: #3e3e3e;
    cursor: pointer;
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 100%;
    gap: 10px;
    &:active, &:hover {
      color: var(--main-color);
    }

    &--name {
      flex-grow: 1;
      padding-right: 20px;
      width: calc(100% - 50px);
    }

    &--icon {
      width: 25px;
    }

    svg {
      stroke: var(--main-color);
    }

    g {
      fill: var(--main-color);
    }
  }

  &__actions {
    float: left;
    width: 100%;
  }

  &__button {
    border-radius: 5px;
    background-position: 100% 0;
    background-size: 200% 100%;
    cursor: pointer;
    font-weight: 600;
    float: left;
    height: 45.2px;
    text-align: center;
    transition: all .25s ease-in;
    @include get-responsive(margin-bottom, 10px);
    @include get-responsive(width, 100%, 160px, 160px, 160px);

    &:hover {
      background-position: 0 0;
      -webkit-box-shadow: 0 0 3px 1px rgba(181, 181, 181, 0.5);
      -moz-box-shadow: 0 0 3px 1px rgba(181, 181, 181, 0.5);
      box-shadow: 0 0 3px 1px rgba(181, 181, 181, 0.5);
    }

    &--primary {
      background-color: var(--main-color);
      border: 2px solid var(--main-color);
      background-image: linear-gradient(to left,
              transparent,
              transparent 50%,
              var(--main-color) 50%,
              var(--main-color));
      color: #ffffff;

      &:hover {
        background-image: linear-gradient(to left,
                transparent,
                transparent 50%,
                #ffffff 50%,
                #ffffff);
        color: var(--main-color);
      }
    }

    &--secondary {
      background-color: #ffffff;
      border: 2px solid var(--main-color);
      background-image: linear-gradient(to left,
              transparent,
              transparent 50%,
              #ffffff 50%,
              #ffffff);
      color: var(--main-color);
      margin-right: 10px;

      &:hover {
        background-image: linear-gradient(to left,
                transparent,
                transparent 50%,
                var(--main-color) 50%,
                var(--main-color));
        color: #ffffff;
      }
    }

    &--red {
      background-color: #dd4a4a;
      border: 2px solid #dd4a4a;
      background-image: linear-gradient(to left,
              transparent,
              transparent 50%,
              #dd4a4a 50%,
              #dd4a4a);
      color: #ffffff;
      margin-right: 10px;

      &:hover {
        background-image: linear-gradient(to left,
                transparent,
                transparent 50%,
                #ffffff 50%,
                #ffffff);
        color: #dd4a4a;
      }
    }

    &--attachment {
      float: right;
      line-height: 41px;

      svg {
        stroke: #ffffff;
      }

      &:hover {
        svg {
          color: var(--main-color);
        }
      }
    }
  }

  &__reply {
    float: left;
    width: 100%;
    margin-bottom: 20px;

    &-collection {
      background-color: #f9f9f9;
      border-bottom: 2px solid var(--dashboard-item-border-color);
      display: flex !important;
      flex-direction: column;
      margin-top: -20px;
      height: 500px;
      padding: 20px;
      scrollbar-color: var(--mid-gray) transparent;
      scrollbar-width: thin;
      @include get-responsive(overflow-y, scroll, scroll, auto, auto);
    }

    &-empty {
      font-weight: 600;
      color: var(--main-color);
    }

    &-bubble {
      border-radius: 6px;
      margin-top: 5px;
      padding: 10px 20px;
      position: relative;
      width: auto;
      @include get-responsive(max-width, calc(100% - 53px), calc(100% - 53px), 70%, 70%);
      @include get-responsive(word-break, break-word);
    }

    &-date {
      color: #6a6a6a;
      text-align: center;
    }

    &-sender {
      float: left;
      width: 100%;
      line-height: 14px;

      &--type {
        background-color: #e7e7e7;
        border-radius: 3px;
        font-size: 7px;
        padding: 2px 5px;
        vertical-align: top;
        letter-spacing: 1px;
      }

      &--name {
        font-size: 12px;
        vertical-align: top;
      }
    }

    &-time {
      color: #6a6a6a;
      font-size: 10px;
      padding-top: 7px;
    }

    &-error {
      color: #ff0000;
      float: right;
    }

    &-submit {
      float: left;
      margin-top: 20px;
      width: 100%;
    }

    &-input {
      border: 2px solid var(--main-color);
      border-radius: 5px;
      float: left;
      height: 45.2px;
      outline: 0;
      padding: 0 20px;
      @include get-responsive(width, 100%, calc(100% - 165px), calc(100% - 165px), calc(100% - 165px));
      @include get-responsive(margin-right, null, 5px, 5px, 5px);
      @include get-responsive(margin-bottom, 10px);
    }

    &--left {
      .dashboard__reply-bubble {
        background-color: #e1e1e1;
        float: left;

        &:before {
          content: ' ';
          position: absolute;
          width: 0;
          height: 0;
          left: 0;
          bottom: -8px;
          border: 8px solid;
          border-color: transparent transparent transparent #e1e1e1;
        }
      }

      .dashboard__reply-sender {
        text-align: left;
      }

      .dashboard__reply-time {
        float: left;
        margin-left: 10px;
      }
    }

    &--right {
      .dashboard__reply-bubble {
        background-color: var(--main-color);
        color: #ffffff;
        float: right;

        &:after {
          content: ' ';
          position: absolute;
          width: 0;
          height: 0;
          right: 0;
          bottom: -8px;
          border: 8px solid;
          border-color: var(--main-color) var(--main-color) transparent transparent;
        }
      }

      .dashboard__reply-sender {
        text-align: right;
      }

      .dashboard__reply-time {
        float: right;
        margin-right: 10px;
      }
    }
  }
}

.dashboard--resident .dashboard {
  &__wrapper {
    &--section {
      background-color: var(--dashboard-card-background-color);
      border-radius: 20px;
      overflow: hidden;
    }
  }

  &__side-bar {
    li {
      @include get-responsive(width, calc(100% / 6), calc(100% / 6));
    }
  }
}

.dashboard--agent .dashboard {
  &__wrapper {
    &--section {
      background-color: var(--dashboard-card-background-color);
      border-radius: 20px;
      overflow: hidden;
    }
  }

  &__side-bar {
    li {
      @include get-responsive(width, calc(100% / 4), calc(100% / 4));
    }
  }
}