body {
  @include get-responsive(text-size-adjust, 100%, 100%, 100%, null);
}

.home {
  min-height: 500px;

  &__jumbotron {
    background: {
      image: url('/assets/images/banner.jpg');
      position: center;
      repeat: no-repeat;
      size: cover;
    }
    width: 100%;
    height: 700px;
    @include get-responsive(height, 300px, 400px, 500px, 700px);
  }

  &__box {
    display: flex;
    justify-content: center;
    @include get-responsive(padding, 0 20px);
  }

  &__wrapper {
    background-color: var(--home-page-card);
    border-radius: 20px;
    display: flex;
    margin: {
      bottom: 50px;
      top: -40px;
    }
    max-width: $desktop-large-min-width;
    overflow: hidden;
    width: 100%;
    @include get-responsive(padding, 0 20, 0 20, 0 20);
    @include get-responsive(-webkit-flex-direction, column, row, row, row);
    @include get-responsive(-ms-flex-direction, column, row, row, row);
    @include get-responsive(flex-direction, column, row, row, row);
  }

  &__box-item {
    align-items: center;
    display: inherit;
    flex-wrap: nowrap;
    padding: 20px;
    @include get-responsive(width, 100%, 50%, 50%, 50%);
  }

  &__box-image {
    background: {
      position: center;
      repeat: no-repeat;
      size: contain;
    }
    height: 60px;
    margin-right: 10px;
    width: 60px;

    &--our-home {
      background-image: url('/assets/images/our-home.png');
    }

    &--our-support {
      background-image: url('/assets/images/our-support.png');
    }
  }
}