.navigation {
  @include get-responsive(padding, 0 20px, 0 20px, 0 30px, 0 30px);

  &--sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 4s ease-in-out;
  }

  &__bar {
    background-color: white;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    height: 65px;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    transition: all 4s ease-in-out;
  }

  &__item {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: inherit;
    flex-wrap: nowrap;

    &--logo {
      margin-left: 20px;

      img {
        border: 0;
        height: 30px;
        outline: 0;
      }
    }

    &--title {
      margin-left: 20px;

      span {
        color: #329570;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
    }

    &--services,
    &--info {
      list-style-type: none;
      margin-left: 20px;
      @include get-responsive(display, none, none);

      li:first-child {
        border-left: 2px solid var(--menu-link-divider);
      }
    }

    &--services {
      a {
        color: var(--menu-link-services-color);
      }
    }

    &--info {
      a {
        color: var(--menu-link-info-color);
      }
    }

    &--action {
      margin-left: auto;
      margin-right: 20px;
      @include get-responsive(display, none, none);
    }

    a {
      text-decoration: none;
      outline: 0;
    }

    li {
      a {
        font-weight: 600;
        outline: 0;
        padding-left: 20px;
        text-decoration: none;

        &:hover {
          color: var(--menu-hover-color);
        }
      }
    }

    input[type="button"] {
      background-color: var(--login-button-color);
      border: 0;
      border-radius: 5px;
      color: var(--login-button-text-color);
      font-weight: 600;
      padding: 5px 10px;
      width: 100%;
      outline: 0;
      background-image: linear-gradient(to left,
              transparent,
              transparent 50%,
              #ffffff 50%,
              #ffffff);
      background-position: 100% 0;
      background-size: 200% 100%;
      transition: all .25s ease-in;

      &:hover {
        background-position: 0 0;
        -webkit-box-shadow: 0 0 3px 1px rgba(181, 181, 181, 0.5);
        -moz-box-shadow: 0 0 3px 1px rgba(181, 181, 181, 0.5);
        box-shadow: 0 0 3px 1px rgba(181, 181, 181, 0.5);
        color: var(--login-button-hover-text-color);
      }
    }

    svg {
      height: 29px;
      margin-left: 10px;

      path {
        fill: var(--main-color);
      }
    }
  }
}