$handset-max-width: 599px;
$tablet-small-min-width: 600px;
$tablet-small-max-width: 1022px;
$tablet-large-min-width: 1023px;
$tablet-large-max-width: 1439px;
$desktop-large-min-width: 1440px;

$font-family-directory: '/assets/fonts/';
$image-directory: '/assets/images/';